<div>
  <div>
    <h1 class="display-3">
      Offers available to your company
    </h1>
  </div>
</div>

<hr>
<div>
  <% if @current_user.company_admin_true_or_false == true %>
    <div>
      <h2 class="display-6">
        <small class="text-muted">Add a new </small> accepted offer
      </h2>

      <form action="/insert_accepted_offer" method="post">

        <div>
          <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <select name="query_offer_id" id="company_id_box" div class="form-select">

                  <%= Offer.all.order(:name).each do |an_offer| %>

                    <option type="text" id="offer_id_box" value = "<%= an_offer.id %>">
                      <%= an_offer.offer_name%>
                    </option>
                  <% end %>
                </select>
                <label for="offer_id_box">
                  Offer
                </label>
              </div>
            </div>

            <div class="col-md">
              <div class="form-floating">
                <select name="query_company_id" id="company_id_box" class="form-select">

                  <%= Company.all.order(:name).each do |a_company| %>

                    <option type="text" id="company_id_box" name="query_company_id" value="<%= a_company.id %>" 
                    <%= "selected" if @current_user.company_id == a_company.id %>
                    >
                      <%= a_company.name%>
                    </option>
                  <% end %>
                </select>

                <label for="company_id_box">Which one of our member companies are you part of?</label>
              </div>
            </div>
          </div>

          <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <div>
                  <label for="offer_start_box">
                    Offer start
                  </label>

                  <input type="datetime-local" id="offer_start_box" name="query_offer_start" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <div>
                  <label for="offer_end_box">
                    Offer end
                  </label>

                  <input type="datetime-local" id="offer_end_box" name="query_offer_end" class="form-control">
                </div>
              </div>
            </div>
          </div>

          <button class="btn btn-primary">
            Select this offer for your company's members
          </button>
        </form>
      </div>
    <% end %>
  </div>

  <hr>

  <div>
    <div>
      <table border="1" class="table table-hover">
        <tr>

          <th>
            Offer
          </th>

          <th>
            Company
          </th>

          <th>
            Offer start
          </th>

          <th>
            Offer end
          </th>

          <th>
            See details
          </th>
        </tr>

        <% @list_of_accepted_offers.each do |an_accepted_offer| %>
          <% if @current_user.company_id == an_accepted_offer.company_id %>
            <tr>

              <td>
                <%= an_accepted_offer.offer.offer_name %>
              </td>

              <td>
                <%= an_accepted_offer.company.name %>
              </td>

              <td>
                <%= an_accepted_offer.offer_start %>
              </td>

              <td>
                <%= an_accepted_offer.offer_end %>
              </td>

              <td>
                <%= an_accepted_offer.number_of_redeems %>
              </td>

              <td>
                <a href="/accepted_offers/<%= an_accepted_offer.id %>">
                  Show details
                </a>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

  <hr>
