<div>
  <div>
    <h1>
       <%= @the_accepted_offer.offer.offer_name %> offer details
    </h1>


<hr>
    <form action="/insert_users_leveraging_accepted_offer" method="post">

      <div>
        <input type="hidden" id="the_accepted_offer_id_box" name="query_accepted_offer_id" value="<%= @the_accepted_offer.id %>">
      </div>

      <input type="hidden" id="the_user_id_box" name="query_user_id" value="<%= @current_user.id %>">
    </div>

    <div>

      <input type="hidden" id="number_of_redeems_box" name="query_number_of_redeems" value = "not enough">
    </div>

    <button class="btn btn-outline-primary">
      Select Offer
    </button>
  </form>

  <div>
    <div>
      <a href="/accepted_offers">
        Go back
      </a>
    </div>

    <div>
      <a href="/delete_accepted_offer/<%= @the_accepted_offer.id %>">
        Delete accepted offer
      </a>
    </div>
  </div>

  <div class="row g-2">
    <div class="col-md">
      <dl class="card">
        <dt class="card-header">
          Offer
        </dt>
        <dd class="card-text">
          <%= @the_accepted_offer.offer.offer_name %>
        </dd>

        <dt class="card-title">
          Company
        </dt>
        <dd class="card-text">
          <%= @the_accepted_offer.company.name %>
        </dd>

        <dt class="card-title">
          Offer start
        </dt>
        <dd class="card-text">
          <%= @the_accepted_offer.offer_start %>
        </dd>

        <dt class="card-title">
          Offer end
        </dt>
        <dd class="card-text">
          <%= @the_accepted_offer.offer_end %>
        </dd>

        <dt class="card-title">
          Number of redeems
        </dt>
        <dd class="card-text">
          <%= @the_accepted_offer.number_of_redeems %>
        </dd>

      </dl>
    </div>
  </div>
</div>


<hr>
