<div>
  <div>
    <h1>
      All your offers #<%= @the_users_leveraging_accepted_offer.id %> details
    </h1>

    <div>
      <div>
        <a href="/users_leveraging_accepted_offers">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_users_leveraging_accepted_offer/<%= @the_users_leveraging_accepted_offer.id %>">
          Stop using this offer :(
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Hello!
      </dt>
      <dd>
        <%= @the_users_leveraging_accepted_offer.user.first_name %>, <%= @the_users_leveraging_accepted_offer.user.last_name %>
      </dd>

      <dt>
        Accepted offer
      </dt>
      <dd>
        <%= @the_users_leveraging_accepted_offer.accepted_offer.offer.offer_name %>
      </dd>


      <dt>
        Started using this offer
      </dt>
      <dd>
        <%= time_ago_in_words(@the_users_leveraging_accepted_offer.created_at) %> ago
      </dd>

      <dt>
        Updated this offer
      </dt>
      <dd>
        <%= time_ago_in_words(@the_users_leveraging_accepted_offer.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit users leveraging accepted offer
    </h2>

    <form action="/modify_users_leveraging_accepted_offer/<%= @the_users_leveraging_accepted_offer.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_users_leveraging_accepted_offer.user_id %>">
      </div>

      <div>
        <label for="accepted_offer_id_box">
          Accepted offer
        </label>

        <input type="text" id="accepted_offer_id_box" name="query_accepted_offer_id" value="<%= @the_users_leveraging_accepted_offer.accepted_offer_id %>">
      </div>

      <div>
        <label for="number_of_times_redeemed_box">
          Number of times redeemed
        </label>

        <input type="text" id="number_of_times_redeemed_box" name="query_number_of_times_redeemed" value="<%= @the_users_leveraging_accepted_offer.number_of_times_redeemed %>">
      </div>

      <button>
        Update users leveraging accepted offer
      </button>
    </form>
  </div>
</div>

<hr>
