<div>
  <div>
    <h1 class="display-1">
      Your Offers
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2 class="display-2">
      Add a new offer
    </h2>

    <form action="/insert_offer" method="post">
      <div class="form-floating mb-3">
        <label for="offer_name_box">
          Offer name
        </label>

        <input type="text" id="offer_name_box" name="query_offer_name" class="form-control">
      </div>

      <div class="form-floating">
        <label for="offer_description_box">
          Offer description
        </label>

        <textarea id="offer_description_box" name="query_offer_description" rows="3" class="form-control"></textarea>
      </div>

      <div class="form-floating mb-3">
        <label for="small_business_id_box">
          Small business
        </label>

        <input type="text" id="small_business_id_box" name="query_small_business_id" class="form-control">
      </div>

      <div class="form-floating mb-3">
        <label for="offer_photo_box">
          Offer photo
        </label>

        <input type="text" id="offer_photo_box" name="query_offer_photo" class="form-control">
      </div>

      <button class="btn btn-primary">
        Create offer
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1" class="table table-hover">
      <tr>
        <th>
          ID
        </th>

        <th>
          Offer name
        </th>

        <th>
          Offer description
        </th>

        <th>
          Small business
        </th>

        <th>
          Offer photo
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_offers.each do |an_offer| %>
      <tr>
        <td>
          <%= an_offer.id %>
        </td>

        <td>
          <%= an_offer.offer_name %>
        </td>

        <td>
          <%= an_offer.offer_description %>
        </td>

        <td>
          <%= an_offer.small_business.small_business_name %>
        </td>

        <td>
          <img src="<%= an_offer.offer_photo %>">
        </td>
    
        <td>
          <%= time_ago_in_words(an_offer.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_offer.updated_at) %> ago
        </td>

        <td>
          <a href="/offers/<%= an_offer.id %>">
            Show details
          </a>
        </td>


        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
